* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "PT Serif", serif;
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0 2rem 0;
}

ul {
  list-style: none;
}

ul li {
  display: inline-block;
}

a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: var(--text);
}

ul li a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
}

button {
  min-width: 250px;
  min-height: 45px;
  letter-spacing: 0.5rem;
  font-size: 1.8rem;
  padding: 0.3rem 0.3rem;
  border: none;
  border: 1px solid #666;
  border-radius: 5px;
  color: white;
  background: rgba(87, 101, 116, 0.5);
  transition: 0.2s;
}

button:hover {
  border: 1px solid #0652dd;
  background: rgba(245, 246, 250, 0.8);
  color: #666;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 0.3rem;
}

header {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.back-img {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url(../img/ferrari.jpg) no-repeat center center/cover;
  filter: grayscale(50%);
}
.back-img h2 {
  font-size: 6rem;
  color: white;
}
.back-img span {
  font-family: "Dancing Script", cursive;
  color: #0652dd;
  font-size: 7rem;
}
.back-img p {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin-bottom: 7rem;
}

.nav {
  position: absolute;
  width: 100%;
  z-index: 1;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*background: rgba(95, 39, 205, 0.9);*/
  background: rgba(87, 101, 116, 0.5);
}
.nav h1 {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  letter-spacing: 0.2rem;
  font-size: 3rem;
  color: white;
  padding: 0.5rem 0 0 0;
  margin-left: 2rem;
}
.nav ul {
  display: flex;
  margin-right: 2rem;
}
.nav ul li {
  font-size: 1.7rem;
  letter-spacing: 0.3rem;
  line-height: 3rem;
  padding: 0 1.5rem;
}
.nav a {
  font-weight: 400;
  color: white;
}

.who {
  text-align: center;
  padding: 5rem 0 5rem 0;
  background: rgba(87, 101, 116, 0.05);
}
.who h2 {
  font-size: 3rem;
  color: #0652dd;
}
.who .content {
  display: flex;
  flex-flow: row nowrap;
}
.who .content .picture-profile {
  flex: 1;
  padding: 2rem;
}
.who .content .picture-profile img {
  border-radius: 100%;
  width: 40%;
}
.who .content .description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: justify;
  padding-right: 3rem;
  line-height: 3rem;
  display: flex;
  align-items: center;
  flex: 1;
  font-size: 1.8rem;
}
.who .content .description p {
  padding-top: 3rem;
}

.portfolio {
  text-align: center;
  padding-top: 5rem;
}
.portfolio h2 {
  font-size: 4rem;
  color: #0652dd;
  padding-bottom: 3rem;
}
.portfolio .content-portfolio {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  background-size: cover;
}
.portfolio .content-portfolio .cont-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 350px;
  margin-bottom: 3rem;
}
.portfolio .content-portfolio .cont-img i {
  position: absolute;
  color: white;
  font-size: 2.5rem;
}
.portfolio .content-portfolio .cont-img img {
  border-radius: 5px;
  height: 100%;
  width: 100%;
  transition: 0.8s;
}
.portfolio .content-portfolio .cont-img img:hover {
  transform: rotate(3deg);
  filter: grayscale(90%);
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
