@import "reset";
@import "bases";
@import "media-queries";

header {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.back-img {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url(../img/ferrari.jpg) no-repeat center center / cover;
  filter: grayscale(50%);

  h2 {
    font-size: 6rem;
    color: white;
  }
  span {
    font-family: "Dancing Script", cursive;
    color: #0652dd;
    font-size: 7rem;
  }

  p {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin-bottom: 7rem;
  }
}

.nav {
  position: absolute;
  width: 100%;
  z-index: 1;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*background: rgba(95, 39, 205, 0.9);*/
  background: rgba(87, 101, 116, 0.5);

  h1 {
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    letter-spacing: 0.2rem;
    font-size: 3rem;
    color: rgb(255, 255, 255);
    padding: 0.5rem 0 0 0;
    margin-left: 2rem;
  }

  ul {
    display: flex;
    margin-right: 2rem;
  }

  ul li {
    font-size: 1.7rem;
    letter-spacing: 0.3rem;
    line-height: 3rem;
    padding: 0 1.5rem;
  }
  a {
    font-weight: 400;
    color: white;
  }
}

.who {
  text-align: center;
  padding: 5rem 0 5rem 0;
  background: rgba(87, 101, 116, 0.05);

  h2 {
    font-size: 3rem;
    color: #0652dd;
  }

  .content {
    display: flex;
    flex-flow: row nowrap;

    .picture-profile {
      flex: 1;
      padding: 2rem;

      img {
        border-radius: 100%;
        width: 40%;
      }
    }

    .description {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: justify;
      padding-right: 3rem;
      line-height: 3rem;
      display: flex;
      align-items: center;
      flex: 1;
      font-size: 1.8rem;

      p {
        padding-top: 3rem;
      }
    }
  }
}

.portfolio {
  text-align: center;
  padding-top: 5rem;

  h2 {
    font-size: 4rem;
    color: #0652dd;
    padding-bottom: 3rem;
  }

  .content-portfolio {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background-size: cover;

    .cont-img {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 250px;
      width: 350px;
      margin-bottom: 3rem;
    }
    .cont-img i {
      position: absolute;
      color: white;
      font-size: 2.5rem;
    }
    .cont-img img {
      border-radius: 5px;
      height: 100%;
      width: 100%;
      transition: 0.8s;
    }
    .cont-img img:hover {
      transform: rotate(3deg);
      filter: grayscale(90%);
      cursor: pointer;
    }
  }
}
